body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;

}

.calculator {
    max-width: 17rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}
#output {
    min-height: 4rem;
    font-size:2rem;
    text-align: end;
    background-color: hsl(202, 11%, 29%);
    color: hsl(255, 100%, 100%);
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.75rem;
}
#expression {
    min-height: 2.4rem;
}
#result {
    font-size: 1.2rem;
}
#keypad {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 1px;
    background-color: hsl(0, 24%, 95%);
}
.btn {
    border: none;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
}
.btn:active {
    box-shadow: 0 0 8px 0 rgba(255, 255, 255, 0.5) inset;
    outline: none;
}
.btn:hover{
    filter: brightness(125%);
}
.btn-green {
    background-color: hsl(120, 74%, 54%);
}
.btn-grey {
    background-color: hsl(0, 0%, 25%);
    color: white;
}
.btn-light {
    background-color: hsl(0, 0%, 65%);
}

.btn-dark {
    background-color: hsl(0, 0%, 15%);
    color: white;
}
#backspace {
    color: hsl(120, 74%, 54%);
}